<ion-view>
    <ion-content>
        <div class="content">
            <div class="prodwid50">
                <div class="whiteboxdiv inputdiv">
                    <div class="row" ng-click="goToHomePage()">
                        <div class="col">Input</div>
                        <div class="col text-right">
                            <a href="#" class="icn-fullwid"></a>
                        </div>
                    </div>
                </div>
                <div class="row responsive-sm tpestimatdiv">
                    <div class="col">
                        <h4>Estimated Rate of Return<span> (%)</span></h4>
                    </div>
                    <div class="col">
                        <div class="tbar">
                            <div class="button-bar">
                              <a class="button button-item1" ng-class="(outputData.precent==8?'active':'')" ng-click="outputData.precent=8">8%</a>
                              <a class="button button-item2" ng-class="(outputData.precent==4?'active':'')" ng-click="outputData.precent=4">4%</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowpadltrtnone">
                    <div class="col" ng-if="outputData.precent==4">
                        <div class="pinkbox">
                            <div class="row pinkborder zindex">
                                <div class="col">
                                    <p>Sum Assured at Maturity (a)</p>
                                    <p><i class="WebRupee">Rs.</i> {{outputData.p4.sumAssuredAtMaturity | number}}</p>
                                </div>
                                <div class="col zindex">
                                    <p>Non-Guaranteed Bonuses at Maturity (b)</p>
                                    <p><i class="WebRupee">Rs.</i> {{outputData.p4.nonGuaranteedMaturityBenefit | number}}</p>
                                </div>
                            </div>
                            <p class="pt10">Sum of Benefits (a + b)
                            <br/><i class="WebRupee">Rs.</i> {{outputData.p4.sumAssuredAtMaturity + outputData.p4.nonGuaranteedMaturityBenefit | number}}</p>
                        </div>
                    </div>

                    <div class="col" ng-if="outputData.precent==8">
                        <div class="pinkbox">
                            <div class="row pinkborder zindex">
                                <div class="col">
                                    <p>Sum Assured at Maturity (a)</p>
                                    <p><i class="WebRupee">Rs.</i> {{outputData.p8.sumAssuredAtMaturity | number}}</p>
                                </div>
                                <div class="col zindex">
                                    <p>Non-Guaranteed Bonuses at Maturity (b)</p>
                                    <p><i class="WebRupee">Rs.</i> {{outputData.p8.nonGuaranteedMaturityBenefit | number}}</p>
                                </div>
                            </div>
                            <p class="pt10">Sum of Benefits (a + b)
                            <br/><i class="WebRupee">Rs.</i> {{outputData.p8.sumAssuredAtMaturity + outputData.p8.nonGuaranteedMaturityBenefit | number}}</p>
                        </div>
                    </div>
                </div>
                        <div>
                            <div class="text-center">
                                <h4 class="riderclick uppercase" ng-click="toggleRiders=(toggleRiders == true)?(false):(true)" ng-model="outputData.riders" ng-class="toggleRiders==true?'neg':''">Add Riders</h4>
                            </div>
                            <ang-accordion ng-show="toggleRiders" class="parentaccordian" icon-position="center" close-icon-class="fa fa-check-circle greyColor" open-icon-class="fa fa-check-circle greenColor">
                              <div class="cell" ng-if="!outputData.NSAPForLA">
                                <div ng-class="riders.isADBActive==true?'acArrowOn':'acArrowOff'" target="#riderADBContainer" toggle-accordion="riders.isADBActive" ng-click="riders.resetADB(calcData)"></div>
                                <collapsible-item target="{{riders.isADBActive}}" id="riderADBContainer" class="icon-riderone" ng-click="riders.ADB(calcData)" item-title="Accidental Death Benefit Rider">
                                    <div class="row rowfix tmcvdiv">
                                        <div class="col col-50">
                                          <div class="row rowfix">
                                            <div class="col col-50"><h4>Term</h4></div>
                                            <div class="col"><div ng-init="calcData.pt=outputData.ppt" class="aridinpbtnyrs">{{calcData.ppt}} <span>YRS</span></div></div>
                                          </div>
                                        </div>
                                        <div class="col col-50">
                                            <div class="row rowfix hgtdiv40">
                                              <div class="col col-50">
                                                <h4>Cover</h4>
                                              </div>
                                              <div class="col">
                                                  <div class="ardrpinpbtn">
                                                    <i class="WebRupee">Rs.</i>
                                                    <input type="number" ng-change="riders.ADB(calcData)" ng-minlength="outputData.sumAssuredMinLength" ng-maxlength="outputData.sumAssuredMaxLength" ng-pattern="/^[0-9]*$/" ng-required="true" value="" name="sumAssuredForADBRiders" placeholder="SumAssured For ADB Rider" ng-model="calcData.sumAssuredForADBRiders" class="form-control" />
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="red" ng-if="riders.dbErrorADB.length > 0  && $index==0" ng-show="showDbErrors" ng-repeat="error in riders.dbErrorADB">{{error.ErrorMessage}}</div>
                                </collapsible-item>
                              </div>
                              <div class="cell icon-ridertwo" ng-if="!outputData.NSAPForLA">
                                <div ng-class="riders.isHCActive==true?'acArrowOn':'acArrowOff'" target="#riderHCContainer" toggle-accordion="riders.isHCActive" ng-click="riders.resetHC(calcData)"></div>
                                <collapsible-item id="riderHCContainer" item-title="Hospi Cash Benefit Rider">
                                    <div class="row">
                                        <div class="col hcbrdiv">
                                            <h4>Term <span>( Yrs. )</span></h4>
                                            <div class="list agelist">
                                              <ul class="dhcblist">
                                                <li ng-repeat="item in formDataOut.RTERM" ng-if="getHCRTerm(outputData.ppt,item.name)">
                                                  <label class="item item-radio">
                                                    <input name="hospiCashTerm" ng-click="riders.HC(calcData)" type="radio" ng-model="calcData.hospiCashTerm" ng-value="{{item.name}}">
                                                    <div class="radio-content">
                                                      <div class="item-content">{{item.name}}</div>
                                                      <i class="radio-icon ion-checkmark"></i>
                                                    </div>
                                                  </label>
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col dhcbdiv">
                                            <h4>DHCB <span>( Rs. )</span></h4>
                                            <div class="list dhcblist">
                                              <ul>
                                                <li ng-repeat="item in formDataOut.DHCB">
                                                  <label class="item item-radio">
                                                    <input name="hospiCashDHCB" ng-click="riders.HC(calcData)" type="radio" ng-model="calcData.hospiCashDHCB" ng-value="{{item.name}}">
                                                    <div class="radio-content">
                                                      <div class="item-content">{{item.name}}</div>
                                                      <i class="radio-icon ion-checkmark"></i>
                                                    </div>
                                                  </label>
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="color: red;" ng-if="riders.dbErrorPWR.length > 0  && $index==0" ng-show="showDbErrors" ng-repeat="error in riders.dbErrorHC">{{error.ErrorMessage}}</div>
                                </collapsible-item>
                              </div>
                              <div class="cell icon-riderthree">
                                <div ng-class="riders.isPWRActive==true?'acArrowOn':'acArrowOff'" target="#riderPWRContainer" toggle-accordion="riders.isPWRActive" ng-click="riders.resetPWR(calcData)"></div>
                                <collapsible-item id="riderPWRContainer" ng-click="riders.PWR(calcData)" item-title="Permium Waiver Rider">
                                    <div class="tilaccrddiv">
                                      <div class="accordlink">
                                        <span ng-click="riders.PWRII=(riders.PWRII==true)?false:true;riders.PWR(calcData);" ng-class="riders.PWRII==true?'active':''">Critical Illness</span>
                                        <span ng-click="riders.PWRI=(riders.PWRI==true)?false:true;riders.PWR(calcData);" ng-class="riders.PWRI==true?'active':''" ng-if="outputData.isSelf==false">Death & TPD</span>
                                      </div>
                                      <h4>PWR on</h4>
                                    </div>
                                    <div class="row" ng-if="riders.PWRII==true">
                                        <div class="col estimatediv col-center mb0">
                                            <div class="tbar">
                                                <div class="button-bar" style="margin-top:0">
                                                  <a ng-disabled="true" class="button button-item1" ng-class="outputData.isSelf==true?'active':''">Life Insured</a>
                                                  <a ng-disabled="true" class="button button-item2" ng-class="outputData.isSelf==false?'active':''">Proposer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="outputData.isSelf==false">
                                      <div class="row">
                                          <div class="col">
                                              <div class="row">
                                                  <div class="col">
                                                      <h4>Proposer age?</h4>
                                                  </div>
                                                  <div class="col">
                                                      <div class="corner-group fr" ng-bind="calcData.proposerAge">{{calcData.proposerAge}} <span>YRS</span>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div  class="progress-pink">
                                                  <div class="progress-box">
                                                      <div class="progress-bar progress-bar-slider">
                                                          <input ng-disabled="true" type="range" min="{{outputData.propMinAgeYear}}" max="{{outputData.propMaxAgeYear}}" value="{{calcData.proposerAge}}" step="1" ng-model="calcData.proposerAge" class="progress-slider" />
                                                          <div class="inner" style="width:20px">
                                                          </div>
                                                          <div class="row lastrangsmltxt">
                                                              <div class="col">{{outputData.propMinAgeYear}}
                                                                  <span>YRS</span>
                                                              </div>
                                                              <div class="col text-right">{{outputData.propMaxAgeYear}}
                                                                  <span>YRS</span>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row gendiv">
                                          <div class="col col-center mb0">
                                            <ion-list class="gender" ng-init="lAAndProposerDetails!= undefined ?outputData.proposerGender=lAAndProposerDetails.proposerGender : outputData.proposerGender=outputData.proposerGender">
                                              <ion-radio ng-disabled="true" name="proposerGender" ng-class="{{outputData.proposerGender == option.name ?'checked':''}}" ng-model="outputData.proposerGender" ng-repeat="option in formData.GENDER" class="{{option.name | lowercase}}" ng-click="openPopupForChangeDetails()" value="{{option.id}}">{{option.name}}</ion-radio>
                                            </ion-list>
                                              <!--<ion-list class="gender" required>
                                                  <ion-radio ng-repeat="gender in formData.GENDER" ng-checked="{{outputData.proposerGender == gender.id?'checked':''}}" value="{{gender.id}}" ng-bind="calcData.proposerGender=outputData.proposerGender" class="{{gender.name=='Male'?'male':'female'}}" ng-model="calcData.proposerGender" ng-click="calcData.proposerGender=gender.id">{{gender.name}}</ion-radio>
                                              </ion-list>-->
                                              <h4>Proposer Gender </h4>
                                          </div>
                                      </div>
                                      <div class="row nsapdiv">
      																	<div class="col nsaplist">
      																		<h4>NSAP</h4>
      																	</div>
      																	<div class="col selcheck">
      																		<input type="checkbox" ng-click="riders.PWR(calcData)" ng-model="calcData.NSAPForPrposer" ng-bind="calcData.NSAPForPrposer">
      																	</div>
      																	<div class="clearfix"></div>
      																</div>
                                    </div>
                                    <div style="color: red;" ng-if="riders.dbErrorPWR.length > 0   && $index==0" ng-show="showDbErrors" ng-repeat="error in riders.dbErrorPWR">{{error.ErrorMessage}}</div>
                                </collapsible-item>
                              </div>
                            </ang-accordion>
                        </div>

                <div class="whiteboxdiv wedline mb20">
                  <h4>Modal Premium</h4>
                    <div class="row greyborder">
                        <div class="col text-center">
                            <label><strong>BASE POLICY</strong></label>
                            <p><i class="WebRupee">Rs.</i> <span ng-bind="calcData.basePremium=outputData.premium.totalModalPremium | number">{{outputData.premium.totalModalPremium | number}}</span></p>
                        </div>
                        <div class="col text-center">
                            <label><strong>ADB RIDER</strong></label>
                            <p ng-if="calcData.modalAdbRiderPremium"><i class="WebRupee">Rs.</i> {{calcData.modalAdbRiderPremium | number}}</p>
                            <p ng-if="!calcData.modalAdbRiderPremium && !outputData.NSAPForLA">-</p>
                            <p ng-if="outputData.NSAPForLA">NA</p>
                        </div>
                        <div class="col text-center">
                            <label><strong>DHCB RIDER</strong></label>
                            <p ng-if="calcData.modalHospiCashPremium"><i class="WebRupee">Rs.</i> {{calcData.modalHospiCashPremium | number}}</p>
                            <p ng-if="!calcData.modalHospiCashPremium && !outputData.NSAPForLA">-</p>
                            <p ng-if="outputData.NSAPForLA">NA</p>
                        </div>
                        <div class="col text-center">
                            <label><strong>PW RIDER</strong></label>
                            <p ng-if="calcData.modalPWRIRiderPremium || calcData.modalPWRIIRiderPremium"><i class="WebRupee">Rs.</i> {{calcData.modalPWRIRiderPremium + calcData.modalPWRIIRiderPremium | number}}</p>
                            <p ng-if="!calcData.modalPWRIRiderPremium && !calcData.modalPWRIIRiderPremium">-</p>
                        </div>
                    </div>
                    <div class="text-center pt10"><strong>PREMIUM PAYABLE</strong> <span class="fweight700"><i class="WebRupee">Rs.</i> {{outputData.premium.totalModalPremium + calcData.modalAdbRiderPremium + calcData.modalHospiCashPremium + calcData.modalPWRIRiderPremium + calcData.modalPWRIIRiderPremium | number}}</span>
                    </div>
                </div >
                <div ng-click="showPopupPremiumWithTaxes()" class="text-center martpbtm"><a class="lasttaxlink">Premium with Taxes</a></div>
            </div>
        </div>
        <!--proposer Detail Change Alert Popup-->
        <div ng-show="proposerAlert" class="popbg"></div>
        <center>
          <div ng-show="proposerAlert">
            <div class="popupdiv">
              <br/>
              <br/>
              <p>Proposer details cant be edited on this page</p>
              <br/>
              <div class="popup-buttons">
                <button class="button button-block button-positive subtn" ng-click="closeChangeProposerDetailAlert()">Cancel</button>
              </div>
            </div>
        </center>
        <!--PWR Alert Popup-->
    </ion-content>
    <div ng-show="pwrSelectAlert" class="popbg"></div>
    <div ng-show="riderSelectAlert" class="popbg"></div>
    <!--PWR Alert Popup-->
    <center>
      <div ng-show="pwrSelectAlert">
        <div class="popupdiv">
          <br/>
          <br/>
          <p>PWR Rider cannot be taken along with other riders. Are you sure you want to select another rider?</p>
          <br/>
          <div class="popup-buttons">
            <button class="button button-block button-positive subtn btnlt" ng-click="riders.alertPWR();pwrSelectAlert=false">OK</button>
            <button class="button button-block button-positive subtn btnrt" ng-click="pwrSelectAlert=false;riders.resetHC();riders.resetADB();">Cancel</button>
          </div>
        </div>
    </center>
    <!--PWR Alert Popup-->
    <!--PWR Alert Popup-->
    <center>
      <div ng-show="riderSelectAlert">
        <div class="popupdiv">
          <br/>
          <br/>
          <p>PWR rider cannot be taken along with other riders. Are you sure you want to select another Rider?</p>
          <br/>
          <div class="popup-buttons">
            <button class="button button-block button-positive subtn" ng-click="riders.alertADBHS();pwrSelectAlert=false">OK</button>
            <button class="button button-block button-positive subtn" ng-click="riderSelectAlert=false;riders.resetPWR()">Cancel</button>
          </div>
        </div>
    </center>
    <!--PWR Alert Popup-->
</ion-view>
<ion-fixed class="fixed-div">
  <button fab fab-right fab-bottom dark>
    <ion-icon class="addbox" name="add" ng-click="showPlusPopup=true"></ion-icon>
  </button>
</ion-fixed>
<ion-footer-bar class="btnlastbkbg">
  <button class="button button-clear button-positive col-50" ng-click="saveQuote(false)">Save</button>
  <button class="button button-clear button-positive col-50" ng-click="proceedToFormFilling()">AGREE & PROCEED TO FORM FILLING</button>
</ion-footer-bar>
<div class="adic-modal" ng-show="premiumWithTaxes">
  <ion-modal-view class="adic-popup">
    <div class="modanntble">
    <a href="#" ng-click="closePopupPremiumWithTaxes()" class="close">&nbsp;</a>
     <table width="100%">
      <thead>
       <tr>
         <th>&nbsp;</th>
         <th align="center">Modal Premium</th>
         <th align="center">Annual Premium</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>Base Policy Premium (<i class="WebRupee">Rs.</i>)</td>
         <td align="right">{{outputData.premium.totalModalPremium | number}}</td>
         <td align="right">{{outputData.premium.totalAnnualPremium | number}}</td>
       </tr>
       <tr>
         <td>Rider Premium (<i class="WebRupee">Rs.</i>)</td>
         <td align="right">{{calcData.modalPWRIRiderPremium + calcData.modalPWRIIRiderPremium + calcData.modalAdbRiderPremium + calcData.modalHospiCashPremium | number}}</td>
         <td align="right">{{calcData.annualPWRIRiderPremium + calcData.annualPWRIIRiderPremium + calcData.annualAdbRiderPremium + calcData.annualHospiCashPremium | number}}</td>
       </tr>
       <tr>
         <td>Total Taxes (<i class="WebRupee">Rs.</i>)</td>
         <td align="right">{{outputData.premium.serviceTaxFactorForFirstYear + calcData.serviceTaxPWRIForModalFirstYear + calcData.serviceTaxPWRIIForModalFirstYear + calcData.serviceTaxAdbForModalFirstYear + calcData.serviceTaxHospiCashForModalFirstYear | number}}</td>
         <td align="right">{{outputData.premium.serviceForAnnualFirstYearTax + calcData.serviceTaxPWRIForAnnualFirstYear + calcData.serviceTaxPWRIIForAnnualFirstYear + calcData.serviceTaxAdbForAnnualFirstYear + calcData.serviceTaxHospiCashForAnnualFirstYear | number}}</td>
       </tr>
       </tbody>
       <tfoot>
        <tr>
         <td>Total Premium Payable (<i class="WebRupee">Rs.</i>)</td>
         <td align="right">{{outputData.premium.totalModalPremiumWithTaxForFirstYear + calcData.totalModalPremiumPWRIIWithTaxForFirstYear + calcData.totalModalPremiumPWRIWithTaxForFirstYear + calcData.totalModalPremiumAdbWithTaxForFirstYear + calcData.totalModalPremiumHospiCashWithTaxForFirstYear | number}}</td>
         <td align="right">{{outputData.premium.totalAnnualPremiumWithTaxForFirstYear + calcData.totalAnnualPremiumPWRIIWithTaxForFirstYear + calcData.totalAnnualPremiumPWRIWithTaxForFirstYear + calcData.totalAnnualPremiumAdbWithTaxForFirstYear + calcData.totalAnnualPremiumHospiCashWithTaxForFirstYear | number}}</td>
       </tr>
      </tfoot>
     </table>
     </div>
  </ion-modal-view>
</div>
<div class="adic-modal">
  <ion-modal-view class="adic-popup" ng-show="showPlusPopup">
    <div class="wealth-popup">
      <ul class="popuplist">
        <li ng-show="saveResult"><a class="capture" href="#" ng-click="cameraFun()">Capture <span>&nbsp;</span></a></li>
        <li ng-show="saveResult"><a class="add-notes" href="#" ng-click="addNotes()">Add Notes <span>&nbsp;</span></a></li>
        <li><a class="email" href="#" ng-click="email()">Email BI Quote<span>&nbsp;</span></a></li>
      </ul>
      <a class="popupclose" ng-click="showPlusPopup=false">&nbsp;</a>
    </div>
  </ion-modal-view>
</div>

<div class="adic-modal">
  <ion-modal-view class="adic-popup" ng-show="showSendEmailPopup">
    <div>
      <div class="popupdiv">
        <form name="myForm" novalidate="">

          <div ng-click="hidesendEmailPopup()" class="close"></div>
          <h3>E-mail</h3>
          <div class="row">
            <div class="col">
              <span style="color:red" ng-if="isValidateEmailTo">Please enter the correct email details</span>
              <input type="text" name="emailTo" style="width:100%" placeholder="To" ng-model="email_To"    ng-minlength="4" ng-maxlength="50" required="">
              <span style="color:red" ng-if="isValidateEmailCc">Please enter the correct email details</span>
              <input type="text" name="emailCc" style="width:100%" placeholder="CC" ng-model="email_Cc" ng-minlength="4" ng-maxlength="50">
            </div>
          </div>

          <ul class="emailchoice">
            <li class="item item-checkbox">
              <label class="checkbox checkbox-assertive">
                  <input type="checkbox" ng-model="isIllustrationsSelected" ng-disabled="true">
              </label>
              BI Quote
            </li>
            <li class="item item-checkbox" ng-if="false">
              <label class="checkbox checkbox-balanced">
                <input type="checkbox" ng-model="isBrochureSelected">
              </label> Brochure
            </li>
          </ul>
          <button class="button button-block button-positive subtn" ng-disabled="myForm.$invalid"  ng-click="sendEmailPopupOnOk()">Send</button>
        </form>
      </div>
    </div>
  </ion-modal-view>
</div>
<div class="adic-modal">
  <ion-modal-view class="adic-popup" ng-show="showSendEmailPopup">
    <div>
      <div class="popupdiv">
        <form name="myForm" novalidate="">

          <div ng-click="hidesendEmailPopup()" class="close"></div>
          <h3>E-mail</h3>
          <div class="row">
            <div class="col">
              <span style="color:red" ng-if="isValidateEmailTo">Please enter the correct email details</span>
              <input type="text" name="emailTo" style="width:100%" placeholder="To" ng-model="email_To"    ng-minlength="4" ng-maxlength="50" required="">
              <span style="color:red" ng-if="isValidateEmailCc">Please enter the correct email details</span>
              <input type="text" name="emailCc" style="width:100%" placeholder="CC" ng-model="email_Cc" ng-minlength="4" ng-maxlength="50">
            </div>
          </div>

          <ul class="emailchoice">
            <li class="item item-checkbox">
              <label class="checkbox checkbox-assertive">
                  <input type="checkbox" ng-model="isIllustrationsSelected" ng-disabled="true">
              </label>
              BI Quote
            </li>
            <li class="item item-checkbox" ng-if="false">
              <label class="checkbox checkbox-balanced">
                <input type="checkbox" ng-model="isBrochureSelected">
              </label> Brochure
            </li>
          </ul>
          <button class="button button-block button-positive subtn" ng-disabled="myForm.$invalid"  ng-click="sendEmailPopupOnOk()">Send</button>
        </form>
      </div>
    </div>
  </ion-modal-view>
</div>
