<ion-view class="samriddhiForm">
    <ion-content>
        <div class="content formBox">
          <form name="userForm">
            <div class="ltcolipad">
                <div class="whiteboxdiv bronline plr13 gendiv">
                    <div class="row">
                        <div class="col col-center mb0">
                            <h4>Gender <sup style="color:red;">*</sup></h4>
                            <!-- <ion-list class="gender" ng-init="data.laGender=0"  required>
                                <ion-radio ng-repeat="gender in formData.GENDER" class="{{gender.name=='Male'?'male':'female'}}" ng-model="data.laGender"   ng-init="data.laGender=0" ng-click="openPopupForChangeDetails()" ng-value="0">Choose A</ion-radio>
                            </ion-list> -->

                            <ion-list class="gender" ng-show="!fromSwitch">
                              <ion-radio ng-disabled="true" ng-checked="{{option.name == 'Male'?'checked':''}}" ng-model="data.laGender" ng-repeat="option in formData.GENDER" class="{{option.name | lowercase}}" ng-click="openPopupForChangeDetails()" value="{{option.id}}">{{option.name}}</ion-radio>

                            <!-- <ion-list class="gender" ng-init="data.laGender=lAAndProposerDetails.laGender">
                              <ion-radio ng-disabled="true" ng-checked="{{option.id == data.laGender?'checked':''}}" ng-model="data.laGender" ng-repeat="option in formData.GENDER" class="{{option.name | lowercase}}" ng-click="openPopupForChangeDetails()" value="{{option.id}}">{{option.name}}</ion-radio> -->

                            </ion-list>
                            <ion-list class="gender" ng-show="fromSwitch">
                             <ion-radio ng-model="data.gender" name="gender" ng-click="selectGender('male')"  class="male"  value="0">Choose A</ion-radio>
                             <ion-radio ng-model="data.gender" name="gender" ng-click="selectGender('female')" class="female" value="1">Choose B</ion-radio>
                             </ion-list>
                        </div>
                    </div>
                </div>
                <div class="whiteboxdiv bronline">
                    <div class="corner-group fr">
                        <input ng-init="data.laAge=laAge" ng-show="!fromSwitch" ng-click="openPopupForChangeDetails()" ng-model="data.laAge" name="currentAgeValue" type="number" placeholder="Age" class="form-control" >
                        <input ng-show="fromSwitch"  type="number"   value="{{data.currentAge}}" ng-model="data.currentAge" name="currentAgeValue"  class="form-control"  min="18" max="65" string-to-number required/>
                        <!-- <input ng-show="fromSwitch"  ng-model="data.laAge" name="currentAgeValue" type="number" placeholder="Age" class="form-control" > -->

                        <span>YRS</span>
                        <!-- <span ng-show="userForm.currentAgeValue.$error.number">The value is not a valid number</span>
                        <span ng-show="userForm.currentAgeValue.$error.min || userForm.currentAgeValue.$error.max">The value must be in range 25 to 60</span> -->
                    </div>
                    <!-- <span style="color:red;">{{errorMessage[0]}}</span> -->
                    <h4>Current age? <sup style="color:red;">*</sup></h4>
                    <div class="clearfix"></div>
                    <div  class="progress-pink">
                        <div ng-show="!fromSwitch" ng-click="openPopupForChangeDetails()" class="progress-box">
                            <div class="progress-bar progress-bar-slider">
                                <input type="range" min="25" max="60" ng-value="{{laAge}}" step="1" ng-model="data.currentAgeValue" class="progress-slider" />
                                <div class="inner" ng-style="{width: laAge +'%'}">
                                </div>
                                <div class="row lastrangsmltxt">
                                    <div class="col">25
                                        <span>YRS</span>
                                    </div>
                                    <div class="col text-right">60
                                        <span>YRS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="fromSwitch" class="progress-box">
                          <div class="progress-bar progress-bar-slider">
                              <input type="range" id="currentAge"   min="{{data.minAge}}" max="{{data.maxAge}}"  value="data.currentAge" step="1" ng-model="data.currentAge" class="progress-slider"  />
                              <div class="inner" ng-style="{width: (data.currentAge - data.minAge) / data.ageDiffHighLow * 100 <= 100 ? (data.currentAge - data.minAge) / data.ageDiffHighLow * 100  + '%' : 0 + '%' }">
                              </div>
                              <div class="row lastrangsmltxt">
                                  <div class="col">18
                                      <span>YRS</span>
                                  </div>
                                  <div class="col text-right">65
                                      <span>YRS</span>
                                  </div>
                              </div>
                          </div>
                        </div>

                    </div>
                    <div class="progress-pink" style="display: none;">
                        <input type="text" id="samriddhi_currentAge" name="example_name" value="" />
                    </div>
                </div>
                <div class="whiteboxdiv bronline plr13 gendiv">
                    <div class="row">
                        <div class="col col-center mb0">
                            <h4>Pay Type {{data.paytype}}<sup style="color:red;">*</sup></h4>
                            <div class="tbar">
                                <div class="button-bar wd200" ng-init="data.paytype='REGULAR'" style="margin-top:0">
                                    <a class="button button-item1" ng-model="data.paytype" ng-class="(data.paytype=='LIMITED'? 'active':'')" ng-click="data.paytype='LIMITED'">LIMITED</a>
                                    <a class="button button-item2" ng-model="data.paytype" ng-class="(data.paytype=='REGULAR'? 'active' :'')" ng-click="data.paytype='REGULAR'">REGULAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rtcolipad">
                <div class="whiteboxdiv bronline">
                    <div class="row">
                        <div class="col">
                            <h4>Premium Payment Terms <sup style="color:red;">*</sup><span>(Yrs.)</span></h4>
                            <ion-list class="premium">
                                <ul class="agelist" ng-init="data.premiumPaymentTerm=25;data.ppt='25'">
                                    <li ng-repeat="ppt in formData.PPT">
                                        <ion-radio ng-if="data.paytype=='REGULAR'&& ppt.name!=5 && ppt.name!=12" name="premium" ng-model="data.premiumPaymentTerm" ng-click="data.premiumPaymentTerm=ppt.name;data.selectedIndex=$index;" class="prem1" ng-value="ppt.name">{{ppt.name}}</ion-radio>
                                        <ion-radio ng-if="data.paytype=='LIMITED'&& (ppt.name==5 || ppt.name==12)" name="premium" ng-model="data.premiumPaymentTerm" ng-click="data.premiumPaymentTerm=ppt.name;data.selectedIndex=$index;" class="prem1" ng-value="ppt.name">{{ppt.name}}</ion-radio>
                                    </li>
                                </ul>
                            </ion-list>
                            <div class="row mt10 marbtm">
                                <div class="col">
                                    <h4 class="mt10">Policy Term <sup style="color:red;">*</sup></h4>
                                </div>
                                <div class="col" ng-init="data.selectedIndex=5">
                                    <div class="cornergrybg fr" ng-bind="data.pt=PT[data.selectedIndex].name">{{PT[data.selectedIndex].name}}
                                        <span>YRS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="whiteboxdiv bronline">
                    <div class="row">
                        <div class="col">
                            <h4>Annual Premium <sup style="color:red;">*</sup></h4>
                        </div>
                        <div class="col">
                            <div class="corner-group fr">
                                <input ng-init="data.basePremium=50000" ng-change="calculateModelPremium(data)" ng-click="calculateModelPremium(data)" ng-model="data.basePremium" name="basePremium" type="number" placeholder="Base Premium" class="form-control" value="" max="9999999999">
                                <span>YRS</span>
                            </div>
                            <span ng-show="userForm.currentAgeValue.$error.number">The value is not a valid number</span>
                            <span ng-show="userForm.currentAgeValue.$error.min || userForm.currentAgeValue.$error.max">The value must be in range 25 to 60</span>
                            <div>
                                <!-- <span style="color:red;">{{errorMessage[1]}}</span> -->
                                <span ng-show="userForm.basePremium.$error.number">The value is not a valid number</span>
                                <span ng-show="userForm.basePremium.$error.max">The base premium maximum value is 9999999999.</span>
                            </div>
                        </div>
                    </div>
                    <h4>Mode  {{data.premiumMode}}</h4>
                    <ul class="agelist mb20" ng-init="data.premiumMode=1;calculateModelPremium(data)">
                        <li ng-repeat="mode in formData.PMODE">
                            <ion-radio name="annprem"  ng-model="data.premiumMode" ng-class="data.premiumMode==mode.id?'active':''" ng-click="calculateSumassuredByMode(mode.id,data)" ng-value="mode.id" >{{mode.id}}</ion-radio>
                            <span class="smlsz">{{mode.name}}</span>
                        </li>
                    </ul>
                    <div class="row mt10 marbtm">
                        <div class="col">
                            <h4>Modal Premium</h4>
                        </div>
                        <div class="col">
                            <div class="cornergrybg fr wt90" ng-bind="data.modelPremium=calculationValues.modalPremium">{{calculationValues.modalPremium}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ltcolipad lastdiv">
                <div class="whiteboxdiv bronline m0" ng-init="data.NSAPForLA=false">
                    <ang-accordion class="parentaccordian" one-at-a-time="true" ng-click="data.NSAPForLA=!data.NSAPForLA" close-icon-class="fa fa-check-circle greyColor" open-icon-class="fa fa-check-circle greenColor">
                        NSAP<sup style="color:red;">*</sup>
                        <collapsible-item>
                            <div class="row">
                                <div class="col">
                                    <label></label>
                                </div>
                            </div>
                        </collapsible-item>
                    </ang-accordion>
                </div>
                <div class="tbar" ng-show="fromSwitch">
                    <div class="button-bar" ng-init="data.inYour='PRESENCE'"  >
                        <a class="button button-item1" ng-model="data.inYour" ng-class="(data.inYour=='PRESENCE'? 'active':'')" ng-click="data.inYour='PRESENCE'">IN YOUR PRESENCE</a>
                        <a class="button button-item2" ng-model="data.inYour" ng-class="(data.inYour=='ABSENCE'? 'active' :'')" ng-click="data.inYour='ABSENCE'">IN YOUR ABSENCE</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            </form>
        </div>
    <div class="bar bar-footer">
        <button class="button button-clear button-positive button-full" ng-click="calculate(data)"> <span class="subtn-arw">Calculate</span> </button>
    </div>
  <div ng-show="showPopupToGoForLAAndProposerDetails" class="popbg"></div>
  <center>
  <div ng-show="showPopupToGoForLAAndProposerDetails">
  <div class="popupdiv"> <br/>
    <br/>
    <p>Are you sure you want to change the Life Insured Details?</p>
    <br/>
    <div class="popup-buttons">
      <button class="button button-block button-positive subtn" ng-click="goToLAAndProposer()">OK</button>
      <button class="button button-block button-positive subtn" ng-click="closePopupForChangeDetails()">Cancel</button>
    </div>
  </div>
  </center>


  <div ng-show="errorMessage.length>0" class="popbg"></div>
  <!-- <center>
  <div ng-show="errorMessage.length>0">
    <a href="#" ng-click="closeError()" class="close">&nbsp;</a>
      <div class="popupdiv"> <br/>
        <br/>
        <p style="color:red;" ng-repeat="error in errorMessage">{{error}}</p>
      </div>
  </div>
  </center> -->

</ion-content>
</ion-view>

<div class="adic-modal" ng-show="errorMessage.length>0">
  <ion-modal-view class="adic-popup">
    <div class="modanntble">
    <a href="#" ng-click="closeError()" class="close">&nbsp;</a>
    <p ng-repeat="error in errorMessage">     {{error}}   </p>
     </div>
  </ion-modal-view>
</div>
