<ion-view view-title="Form Filling">
  <ion-content>
    <div class="whiteboxdiv fl" ng-controller="switchTabsController" ng-init="showData()">
      <ul class="stepbox col-75 fl">
        <li class="active"><a></a></li>
        <li class="disabled"><a></a></li>
        <li class="disabled"><a></a></li>
      </ul>
      <div class="col-25 fr">18/100</div>
    </div>
    <div class="row">
      <div class="whiteboxdiv samlist prodwid50 bronline">test</div>
    </div>
  </ion-content>
</ion-view>
